body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.tab-container {
    background-color: #acd5ef59;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
}



.admin-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
}


.admin-title {
    font-size: 24px;
    margin-bottom: 10px;
}


.admin-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.admin-form input[type="text"],
.admin-form select,
.admin-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin-bottom: 15px;
}

.admin-form textarea {
    resize: vertical;
}

.admin-form button {
    padding: 13px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-form button:hover {
    background-color: #0056b3;
}


form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}
