.logo {
    max-width: 100px;
    height: auto;
}
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.tab-container {
    background-color: #acd5ef59;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.course-list, .group-list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.goto-button{
    background-color: #007BFF;
    color: #ccc;
    border-radius: 100px;
    padding: 8px 15px;
    border: none;
}

form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}